# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
artifacts/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
[Tt]est[Rr]esult*/
[Dd]ebugPS/
*.VisualState.xml
TestResult.xml

# Rider
.idea/
*.sln.iml

# OS files
.DS_Store
Thumbs.db
desktop.ini

# User-specific files
*.DotSettings.user
launchSettings.json
